

@media (max-width: 724px){

    .calc-body{
        margin: 0 auto;
        flex-direction: column;
        max-width: 454px;
    }
    .calc-count{
        padding-bottom: 20px;
    }
    .calc-count__tip{
        grid-template-columns: repeat(3, 124px);
    }
    .calc-output{
        width: 100%;
    }
    .calc-output__display{
    padding-top: 0;
    padding-bottom: 30px;
    }
    .calc-output__btn{
    padding: 11px 0;
    }
    .calc-output__display-big {
        font-size: 20px;
    }

}

@media (max-width: 478px){
    .container{
        padding-bottom: 20px;
    }
    .heading{
    padding-bottom: 29px;
    padding-top: 2rem;
    }
    .calc-body{
        max-width: 310px;
    }
    .calc-count__tip{
    grid-template-columns: repeat(2, 110px);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 16px;
    }
    .calc-output__display-big {
        font-size: 11px;
    }
    .calc-output__p{
        font-size:  21px;
    }
    .calc-output__btn {
        padding: 4px 0;
    }
}







