$dark-green: hsl(183, 100%, 15%);
$dark-grayish: hsl(186, 14%, 43%);
$dark-gray: hsl(184, 14%, 56%);
$light-grayish: hsl(185, 41%, 84%);
$light-gray: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);

$border: #26c0ab;

